html,
body {
  scroll-behavior: smooth !important;
  min-height: 100vh;
  height: auto;
  margin: 0;
  font-family: "Urbanist", "Google Sans";
  background-color: #151515;
  }

* {
  scrollbar-width: 12px;
}

*::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: #cdcde0;
    border-radius: 20px;
  }
  
  *::-webkit-scrollbar-button {
    display: none;
  }

  .pointer {
    cursor: pointer;
  }

.main-container {
    width: 100%;
    height: 100%;
    .page-section-wrapper {
        height: 100vh;
        width: calc(100% - 240px);
        margin-left: 240px;
        overflow-y: hidden;
        #topMenu {
            height: 80px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: solid 1px #272727;
            background-color: #151515;
            .menu-left-section {
                padding: 20px;
                display: flex;
                align-items: center;
                .union-icon {
                    content: url(../assets/img/union-icon.svg);
                    margin-right: 8px;
                }
                span {
                    font-size: 16px;
                    font-weight: 600;
                    color: #FFFFFF;
                }
            }
            .menu-right-section {
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 1rem;
                padding-right: 20px;
                .search-box {
                    input[type="text"] {
                        padding: 14px 16px 14px 40px;
                        border-radius: 20px;
                        background-color: #272727;
                        color: #898989;
                        background: url(../assets/img/search-icon.svg) no-repeat #272727 5%;
                        border: none;
                        font-size: 11.65px;
                    }
                }
                .settings-icon {
                    content: url(../assets/img/settings-icon.svg);
                }
                .notification-icon {
                    content: url(../assets/img/notification-icon.svg);
                }
            }
        }    
    }
}

@mixin image-icon($url, $width, $height) {
    background: url($url) center center no-repeat;
    width: $width;
    height: $height;
    display: inline-block;
  }
  
  .dashboard-icon {
    @include image-icon("^../../../assets/img/dashboard-icon.svg", 24px, 24px);
  }
  .calendar-icon {
    @include image-icon("^../../../assets/img/calendar-icon.svg", 24px, 24px);
  }
  .recruitment-icon {
    @include image-icon("^../../../assets/img/recruitment-icon.svg", 24px, 24px);
  }
  .employees-icon {
    @include image-icon("^../../../assets/img/employees-icon.svg", 24px, 24px);
  }
  .leave-icon {
    @include image-icon("^../../../assets/img/leave-icon.svg", 24px, 24px);
  }
  .organisation-icon {
    @include image-icon("^../../../assets/img/organisation-icon.svg", 24px, 24px);
  }
  .billings-icon {
    @include image-icon("^../../../assets/img/billings-icon.svg", 24px, 24px);
  }
  .engagement-icon {
    @include image-icon("^../../../assets/img/engagement-icon.svg", 24px, 24px);
  }
  .development-icon {
    @include image-icon("^../../../assets/img/development-icon.svg", 24px, 24px);
  }
  .performance-icon {
    @include image-icon("^../../../assets/img/performance-icon.svg", 24px, 24px);
  }
  .reports-icon {
    @include image-icon("^../../../assets/img/reports-icon.svg", 24px, 24px);
  }


ul {
    li {
        list-style: none;
    }
}
.side-menu {
    width: 240px;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background-color: #161616;
    border-right: solid 1px #000000;
    .logo-section {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 40px 0 16px;
        border-bottom: solid 1px #272727;
        height: 80px;
        .logo-icon {
            content: url(../assets/img/logo.svg);
        }
        .switch-icon {
            content: url(../assets/img/mob-switch-icon.svg);
        }
    }
    .menu-list-section {
        padding-right: 20px;
        ul{
            padding-left: 0;
            .menu-list-option {
                padding: 12px 0 12px 40px;
                color: #D9D9D9;
                font-size: 15px;
                display: flex;
                align-items: center;
                span {
                    margin-left: 12px;
                }
            }
            .menu-list-option:hover {
                background-color: #6E56E0;
                color: #FFFFFF;
                border-radius: 0 22px 22px 0;
                .dashboard-icon {
                    @include image-icon("^../../../assets/img/dashboard-icon-active.svg", 24px, 24px);
                }
                .calendar-icon {
                    @include image-icon("^../../../assets/img/calendar-icon-active.svg", 24px, 24px);
                  }
                  .recruitment-icon {
                    @include image-icon("^../../../assets/img/recruitment-icon-active.svg", 24px, 24px);
                  }
                  .employees-icon {
                    @include image-icon("^../../../assets/img/employees-icon-active.svg", 24px, 24px);
                  }
                  .leave-icon {
                    @include image-icon("^../../../assets/img/leave-icon-active.svg", 24px, 24px);
                  }
                  .organisation-icon {
                    @include image-icon("^../../../assets/img/organisation-icon-active.svg", 24px, 24px);
                  }
            }
        }
        
    }
}

.content-section {
    height: calc(100% - 80px);
    overflow-y: auto;
    padding: 16px 40px;
    .ui-widget.ui-widget-content, .ui-widget-header,
    .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
        border: none;
        background: transparent;
    }
    .name-text {
        display: flex;
        align-items: center;
        height: 100px;
        img {
            margin-right: 10px;
        }
    }
    .leave-requests-header {
        display: flex;
        justify-content: space-between;
        margin-top: 30px;
        h3 {
            font-size: 28px;
            color: #FFFFFF;
            font-weight: bold;
            margin: 0;
        }
        button {
            width: 120px;
            height: 40px;
            background-color: #272727;
            color: #898989;
            border: solid 1px #000000;
            &.active {
                color: #FFFFFF;
                background-color: #6E56E0;
            }
            &:first-child {
                border-radius: 20px 0 0 20px;
            }
            &:last-child {
                border-radius: 0 20px 20px 0;
            }
        }
    }
    .leaves-subsection {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #1E1E1E;
        margin-top: 10px;
        border-radius: 8px 8px 0 0;
        #leavesSubTabs{ display: flex;}
        .datepicker-section {
            display: flex;
            align-items: center;
            margin-right: 20px;
            img:not(.datepicker-icon) {
                content: url(../assets/img/left-arrow.svg);
            }
            input {
                background-color: transparent;
                border: none;
                color: #FFFFFF;
                width: 110px;
                margin-left: 10px;
                outline: none !important;
            }
            input:focus {
                border: none !important;
                box-shadow: none !important;
            }
            .down-arrow {
                transform: rotate(270deg);
                margin-bottom: 5px;
                margin-right: 16px;
            }
            .right-arrow {
                transform: rotate(180deg);
            }
        }
    }
}

table.dataTable tbody tr > .dtfc-fixed-start, table.dataTable tbody tr > .dtfc-fixed-end,
table.dataTable thead tr > .dtfc-fixed-start {
    background-color: unset !important;
}

.ui-widget {
    font-family: "Urbanist", "Google Sans" !important;
}

.ui-widget-content {
    color: #898989 !important;
    font-size: 14px !important;
}

table.dataTable {
    thead {
        background-color: #272727;
        th {
            height: 52px;
        }        
    }
    tr {
        border-bottom: solid 1px #272727;
    }
    td {
        color: #FFFFFF !important;
        border-bottom: solid 1px #272727;
        height: 100px;
    }    
    button {
        min-width: 84px;
        height: 40px;
        padding: 8px 16px;
        border-radius: 20px;
        color: #FFFFFF;
    }
    #rejectButton {
        border: solid 1px #898989;
        background-color: transparent;
    }
    #approveButton {
        background-color: #6E56E0;
        border: solid 1px #6E56E0;
    }
    .right-arrow {
        margin-left: 25px;
    }
    .action-buttons {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 1rem;
        height: 69px;
        width: 300px;
    }
    .approved-status,.not-approved-status {
        display: block;
        width: 8px;
        height: 8px;
        border-radius: 50%;        
    }
    .approved-status {
        background-color: #288A05;
    }
    .not-approved-status {
        background-color: #FFA424;
    }
}

table.dataTable th.dt-type-numeric, table.dataTable th.dt-type-date,
     table.dataTable td.dt-type-numeric, table.dataTable td.dt-type-date,
     table.dataTable td.dt-type-numeric {
        text-align: left !important;
    }
    table.dataTable.stripe>tbody>tr:nth-child(odd).selected>*,
    table.dataTable.stripe>tbody>tr:nth-child(even).selected>* {
        box-shadow: none !important;
    }
    table.dataTable > tbody > tr.selected input.dt-select-checkbox:checked {
        background-color: #6E56E0;
    }
    .ui-tabs .ui-tabs-nav li.ui-tabs-active {
        border-bottom: solid 3px #6E56E0;
    }

    .dt-layout-row:last-child {
        justify-content: center !important;
        div.dt-layout-cell.dt-layout-start {
            margin-right: unset !important;
        }
    }
#leaveMgt {
    background: #1E1E1E;
}
.swiper {
    width: 100%;
    .swiper-slide {
        width: 600px !important;
        height: 300px;
        margin-left: unset !important;
        margin-right: unset !important;
        background-color: #1E1E1E;
        border: solid 1px #272727;
        border-radius: 8px;
        margin-right: 12px !important;
        .heatmap-section {
            padding: 10px 24px;
            border-bottom: solid 1px #272727;
        }
        .heatmap-day-wrapper {
            padding: 8px 16px;
            .days-section {
                display: flex;
                border-radius: 8px;
                border: solid 1px #272727;
                div {                    
                    padding: 9px 27px;
                    color: #FFFFFF;
                    font-size: 16px;
                }
                div:not(:last-child) {
                    border-right: solid 1px #272727;
                }
                div.selected-day {
                    background-color: #C33535;
                }
            }
        }
    }
  }